.admin__menu .level-0.item-histomagento > a:before {
    content: url('../images/logo.png');
    height: 32px;
    margin: 0 auto;
    width: 31px;
}
.admin__menu .level-0.item-histomagento > a {
    font-size:9px;
}
